/* styling  For Website*/

.container{
    Padding : 25px;
    background-color: black;
    display:flex;
    justify-content: space-between;
}
h1{
    color:white;
}
a:active{
    color:white;
}
a:visited{
    color:red;
}
a:hover{
    background-color: green;
    color:white;
}
a:link{
    color:white;
}

#search{
         padding:15px;
         width:800px;
}

.Search-bar{
    margin-top:60px;
    margin-left:200px;
}

.product1{
    border:5px solid black;
    padding:50px;
    height:300px;
    width:200px;
    margin:10px;
}
.product2{
    border:5px solid black;
    padding:50px;
    height:300px;
    width:200px;
    margin:10px;
}
.product3{
    border:5px solid black;
    padding:50px;
    height:300px;
    width:200px;
    margin:10px;
}
.container-2{
    display:flex;
    margin-left:100px;
    margin-top:100px;
}
img{
    height:200px;
    width: 185px;
    display: block;
}
p{
    font-weight: bold;
}